<p>Congratulations {{username}}!</p>
<p>You have linked your twitch as well as pubg accounts to StreamersEdge and unlocked Challenge Creation. Now you can create challenges for the pubg games that you play and stream on twitch and accept conditional donations on these challenges. The donations that you receive on these challenges can be broadcasted on OBS using the below url:</p>
<p>{{url}}</p>
<p>Please refer to the FAQs on <a href='https://streamersedge.com/'>https://streamersedge.com/</a> for more details on challenge creation and resolution. </p>
<p>If you need assistance with your account, please visit our support center at <a href='https://streamersedge.com/'>https://streamersedge.com/</a></p>
<p>Warm regards,<br>
The StreamersEdge Team</p>
<p>Copyright © 2019 StreamersEdge<br>
<a href='{{contact}}'>Contact Us</a> | <a href='{{terms}}'>Privacy Policy</a></p>